* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.Container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #74ebd5, #acb6e5);
  position: relative;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 15px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.InputControl {
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  width: 550px;

  outline: none;
}

.BTN-Search {
  width: 80px;
  height: 35px;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  color: #bbffff;
  background-color: #a020f0;

  cursor: pointer;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  cursor: pointer;
}

.modal {
  position: absolute;
  display: none;
  width: 90%;
  height: auto;
  background-color: rgb(145 82 82 / 98%);

  left: 5vw;
  top: 5vw;

  transition: all 0.5s ease;

  border-radius: 5px;
}

.modal div {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
}

.modal h2 {
  padding: 20px;
  color: antiquewhite
}

.modal img {
  width: 20%;
  box-shadow: 1px 1px 10px black;
}

.modal .ano-publicacao, .comentarios {
  align-self: flex-start;
  padding: 20px;
}

.modal span {
  font-weight: bold;
}

.modal .descricao {
  padding: 0 20px 20px;
}


.escrever-comentario {
  min-width: 60%;
  min-height: 150px;

  outline: none;

  padding: 5px;
  border: none;
  border-radius: 5px;
}

.username-input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.comentario-button {
  padding: 10px;
  margin-top: 10px;
  background-color: #74ebd5a1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  color: #bbffff;
  background-color: #a020f0;

}

.comentario-button:hover {
  background-color: #9811ec;
}

.comentario {
  background: rgb(203 203 203 / 50%);
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.ativo {
  display: inline;
}

.icon-close {
  position: absolute;
  top: 5px;
  width: 25px;
  height: 25px;
  right: 5px;
  cursor: pointer;
}